body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
img {
  width: 200px;
}
h1, h2, h3, p, ul {
  margin: 0;
}
ul{
  list-style: none;
  padding-left: 0;
}
/* .poke-app{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.home{
  border: 1px ;
} */