* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #efefef;
  padding-bottom: 50px;
}
img {
  width: 100%;
}
h1, h2, h3, p, ul {
  margin: 0;
}
ul{
  list-style: none;
  padding-left: 0;
}
/* ------ Home ------ */
.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.header-home{
  padding: 0 20px;
}
.img-pokedex-logo{
  width: min(100%, 450px);
  display: block;
  margin: 0 auto;
  position: relative;
  top: -40px;
}
.title-home{
  color: #FE1936;
  text-align: center;
  margin-bottom: 10px;
  font-size: 26px;
}
.description-home{
  text-align: center;
  line-height: 1.5;
  margin-bottom: 30px;
}
.form-home{
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: center;
}
.input-home{
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  box-shadow: -2px 2px 6px 0 #0002;
}
.input-home:focus{
  outline: none;
}
.btn-home{
  font-size: 15px;
  font-weight: 100;
  padding: 10px 20px;
  border: none;
  color: #fff;
  background-color: #D93F3F;
  box-shadow: -2px 2px 6px 0 #0002;
  cursor: pointer;
}
.rectangle-red{
  width: 100%;
  height: 80px;
  background-color: #DD1A1A;
  position: absolute;
  bottom: 0;
}
.rectangle-black{
  width: 100%;
  height: 35px;
  background-color: #0C0C0C;
  position: absolute;
  bottom: 0;
}
.circle{
  width: 55px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: black;
  border: 10px solid white;
  outline: 5px solid black;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 600px){
  .title-home{
    font-size: 32px;
  }
}
/* ------ LisPokemon ------ */
/* - HeaderPokemon - */
.list-pokemon-component{
  padding-top: 110px;
}
.rectangle-red.list{
  position: absolute;
  top: 0;
  bottom: initial;
  height: 110px;
}
.rectangle-black.list{
  height: 25px;
}
.circle.list{
  width: 50px;
  border-width: 7px;
  outline-width: 7px;
  left: 85%;
  top: 72.5px;
}
.pokedex-letters-header{
  width: 250px;
  position: absolute;
  top: 37px;
  left: 5%;
}
/* - FormList - */
.aside-container{
  padding: 0 20px;
  margin: 40px 0 25px;
}
.title-form-list{
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}
.span-name-trainer{
  color: #FE1936;
  font-weight: 700;
}
.form-container-list{
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
}
.search-container{
  display: flex;
}
.input-form-list, .select-type-pokemon{
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  box-shadow: -2px 2px 6px 0 #0002;
}
.input-form-list {
  width: 70%;
}
.input-form-list:focus{
  outline: none;
}
.button-form-list{
  font-size: 15px;
  font-weight: 100;
  padding: 10px 20px;
  border: none;
  color: #fff;
  background-color: #D93F3F;
  cursor: pointer;
  box-shadow: -2px 2px 6px 0 #0002;
}
.button-form-list:hover{
  filter: brightness(1.2);
}
.select-type-pokemon{
  font-weight: 300;
  color: #0C0C0C88;
  cursor: pointer;
}
.config-icon{
  width: 30px;
  filter: invert(32%) sepia(97%) saturate(6736%) hue-rotate(344deg) brightness(101%) contrast(99%);
  cursor: pointer;
  transition: transform 500ms ease;
}
.config-icon:hover{
  transform: rotateZ(0.5turn);
  transition: transform 500ms ease;
}
/* - Config - */
.config-modal{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0C0C0C77;
  z-index: 1;
}
.config-container {
  background-color: #f8f8f8;
  padding: 20px 25px;
  border-radius: 15px;
  width: 300px;
  position: relative;
}
.equis{
  font-size: 17px;
  position: absolute;
  right: 25px;
  top: 15px;
  font-weight: 600;
  color: #0C0C0C88;
  cursor: pointer;
}
.title-config{
  text-align: center;
  margin-bottom: 10px;
  color: #FE1936;
  text-shadow: 1px 1px 2px #0C0C0C34;
  padding-top: 5px;
}
.setting-hr{
  border: none;
  border-top: 1px solid #0C0C0C22;
  width: 70%;
  margin-bottom: 15px;
}
.toggle-container{
  margin-bottom: 20px;
}
.title-toggle, .label-poke-per-page{
  font-weight: 500;
  color: #0C0C0CCC;
  font-size: 17px;
  margin-bottom: 10px;
  text-align: center;
}
.toggle-btn-container{
  width: 60px;
  height: 30px;
  border-radius: 25px;
  background-color: #e3e3e3;
  cursor: pointer;
  padding: 3px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.toggle-btn{
  aspect-ratio: 1;
  height: 100%;
  border-radius: 50%;
  background-color: #0C0C0C44;
  transition: transform 300ms ease;
}
.dark-mode {
  transform: translateX(calc(100% + 6px));
  transition: transform 300ms ease;
}
.select-config{
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  box-shadow: -2px 2px 6px 0 #0002;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 15px;
  cursor: pointer;
}
/* - Pagination - */
.pagination-container{
  display: flex;
  gap: 7px;
  justify-content: center;
  margin: 20px 0;
}
.block-pages{
  font-size: 23px;
  cursor: pointer;
}
.preview-page, .next-page, .number-page {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.preview-page:hover,
.next-page:hover {
  filter: brightness(1.2);
}
.next-page, .preview-page, .active-page {
  background: #DD1A1A;
  color: white;
  font-weight: 700;
}
/* - CardContainer y Cards - */
.card-container{
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  gap: 30px 20px;
}
.card{
  width: min(300px, 100%);
  justify-self: center;
  border-radius: 10px;
  overflow-x: hidden;
  position: relative;
  box-shadow: 2px 2px 7px 0 #0C0C0C34;
  transition: transform 300ms ease;
  cursor: pointer;
  background-color: white;
}
.card:hover{
  transform: scale(1.03);
  transition: transform 300ms ease;
}
.header-card{
  height: 120px;
  width: 100%;
  margin-bottom: 40px;
}
.normal{
  background: linear-gradient(0deg, rgba(242,242,242,1) 0%, rgba(195,195,195,1) 100%);
}
.normal-border{
  border: 7px solid rgba(195,195,195, 0.7);
}
.fighting {
  background: linear-gradient(0deg, rgba(255,250,243,1) 0%, rgba(221,101,0,1) 100%);
}
.fighting-border{
  border: 7px solid rgba(221,101,0, 0.7);
}
.flying {
  background: linear-gradient(0deg, rgba(243,254,255,1) 0%, rgba(79,225,230,1) 100%);
}
.flying-border{
  border: 7px solid rgba(79,225,230,0.7);
}
.poison {
  background: linear-gradient(0deg, rgba(250,233,254,1) 0%, rgba(192,79,230,1) 100%);
}
.poison-border{
  border: 7px solid rgba(192,79,230,0.7);
}
.ground{
  background: linear-gradient(0deg, rgba(183,169,144,1) 0%, rgba(106,66,10,1) 100%);
}
.ground-border{
  border: 7px solid rgba(106,66,10,0.7);
}
.rock{
  background: linear-gradient(0deg, rgba(185,185,185,1) 0%, rgba(82,82,82,1) 100%);
}
.rock-border{
  border: 7px solid rgba(82,82,82,0.7);
}
.bug{
  background: linear-gradient(0deg, rgba(165,243,215,1) 0%, rgba(0,143,112,1) 100%);
}
.bug-border{
  border: 7px solid rgba(0,143,112,0.7);
}
.ghost{
  background: linear-gradient(0deg, rgba(166,157,182,1) 0%, rgba(51,0,136,0.7609637605042017) 100%);
}
.ghost-border{
  border: 7px solid rgba(51,0,136,0.6);
}
.steel{
  background: linear-gradient(0deg, rgba(219,219,219,1) 0%, rgba(105,105,105,1) 100%);
}
.steel-border{
  border: 7px solid rgba(105,105,105,0.7);
}
.fire {
  background: linear-gradient(0deg, rgba(230,155,28,1) 0%, rgba(255,49,0,1) 100%);
}
.fire-border{
  border: 7px solid rgba(255,49,0,0.8);
}
.water{
  background: linear-gradient(0deg, rgba(215,250,255,1) 0%, rgba(0,226,255,1) 48%, rgba(0,140,255,1) 100%);
}
.water-border{
  border: 7px solid rgba(0,140,255,0.8);
}
.grass{
  background: linear-gradient(0deg, rgba(203,255,169,1) 0%, rgba(43,131,0,1) 100%);
}
.grass-border{
  border: 7px solid rgba(43,131,0,0.8);
}
.electric {
  background: linear-gradient(0deg, rgba(250,253,182,1) 0%, rgba(255,203,0,1) 100%);
}
.electric-border{
  border: 7px solid rgba(255,203,0,0.8);
}
.psychic {
  background: linear-gradient(0deg, rgba(255,218,250,1) 0%, rgba(255,0,247,1) 100%);
}
.psychic-border{
  border: 7px solid rgba(255,0,247,0.8);
}
.ice{
  background: linear-gradient(0deg, rgba(254,254,254,1) 0%, rgba(0,217,255,1) 100%);
}
.ice-border{
  border: 7px solid rgba(0,217,255,0.8);
}
.dragon{
  background: linear-gradient(0deg, rgba(160,92,177,1) 0%, rgba(255,95,113,1) 100%);
}
.dragon-border{
  border: 7px solid rgba(160,92,177,0.8);
}
.dark{
  background: linear-gradient(0deg, rgba(127,126,127,1) 0%, rgba(0,0,0,1) 100%);
}
.dark-border{
  border: 7px solid rgba(0,0,0,0.8);
}
.fairy{
  background: linear-gradient(0deg, rgba(255,249,253,0.9906556372549019) 0%, rgba(255,177,226,1) 100%);
}
.fairy-border{
  border: 7px solid rgba(255,177,226,0.8);
}
.img-pokemon-card{
  width: 150px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}
.name-pokemon {
  text-align: center;
  text-transform: capitalize;
  text-shadow: 1px 1px 5px #0C0C0C11;
}
.type-pokemon{
  text-align: center;
  font-size: 15px;
}
.type-text{
  text-align: center;
  font-size: 12px;
  color: #0C0C0C77;
  margin-bottom: 15px;
}
.stats-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px 5px;
  padding: 20px;
  padding-top: 0;
}
.stat-container{
  justify-self: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  color: #0C0C0C77;
}
.number-stat{
  font-weight: 600;
  font-size: 15px;
  color: black;
  margin-top: 2px;
}

@media screen and (min-width: 650px) {
  /* - HeaderPokemon - */
  .rectangle-black.list{
    height: 30px;
  }
  .circle.list {
    width: 60px;
    border-width: 10px;
    outline-width: 10px;
    top: 65px;
  }
  .pokedex-letters-header{
    width: 300px;
    top: 25px;
  }
  /* - FormList - */
  .aside-container, .card-container{
    padding: 0 60px;
  }
  .input-form-list{
    width: 220px;
  }
  .form-container-list{
    justify-content: flex-start;
  }
}
/* ------ Pokemon Info ------ */
.go-to-list-pokemon{
  position: absolute;
  top: 140px;
  left: 20px;
  width: 40px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0C0C0C22;
  border-radius: 50%;
  font-weight: 500;
  font-size: 20px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.scroll-up{
  position: sticky;
  top: 90vh;
  left: 90vw;
  z-index: 1;
  width: 45px;
  aspect-ratio: 1;
  background-color: #0C0C0C22;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
.pokemon-info-container{
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.header-pokemon-info {
  position: absolute;
  left: 0;
  top: 0;
}
/* - Card Info - */
.card-info{
  width: min(800px, 100%);
  margin-top: 240px;
  box-shadow: 0 2px 5px 0 #0C0C0C34;
  border-radius: 10px;
}
.header-card-info{
  width: 100%;
  height: 120px;
  position: relative;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
}
.preview-next-pokemon-info{
  width: 30px;
  border: none;
  background-color: #0C0C0C22;
  color: white;
  font-size: 18px;
  border-radius: 10px 0 0;
  cursor: pointer;
}
.preview-next-pokemon-info:nth-child(3){
  border-radius: 0 10px 0 0;
}
.srite-card-info{
  width: min(250px, 60%);
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
}
.body-card-info{
  padding: 20px;
  background-color: white;
  position: relative;
  border-radius: 0 0 10px 10px;
}
.general-info-card-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.id-general-info{
  font-size: 25px;
  border: 1px solid #0C0C0C44;
  padding: 5px 10px;
  margin-bottom: 20px;
}
.hr-card-info{
  border: none;
  border-top: 1px solid #0C0C0C66;
  width: 100%;
  margin-bottom: 25px;
}
.name-pokemon-card-info{
  font-size: 25px;
  text-transform: capitalize;
  background-color: white;
  padding: 0 10px;
  position: absolute;
  top: 75px;
}
.height-weight-container{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.height-weight{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}
.span-height-weight{
  font-size: 14px;
  color: #0C0C0C99;
  font-weight: 300;
}
.type-habilities-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.type-habilities{
  text-align: center;
}
.span-type-habilities{
  display: block;
  margin-bottom: 10px;
  color: #0C0C0C99;
}
.type-habilities-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.type-habilitie{
  text-transform: capitalize;
  padding: 5px 20px;
  font-weight: 600;
  border: 1px solid transparent;
}
.ability-card-info{
  border: 1px solid #0C0C0C44;
}
.type-normal{
  background-color: rgba(195,195,195, 0.7);
  color: white;
}
.type-fighting{
  background-color: rgba(221,101,0, 0.7);
  color: white;
}
.type-flying{
  background-color: rgba(79,225,230,0.7);
  color: white;
}
.type-poison{
  background-color: rgba(192,79,230,0.7);
  color: white;
}
.type-ground{
  background-color: rgba(106,66,10,0.7);
  color: white;
}
.type-rock{
  background-color: rgba(82,82,82,0.7);
  color: white;
}
.type-bug{
  background-color: rgba(0,143,112,0.7);
  color: white;
}
.type-ghost{
  background-color: rgba(51,0,136,0.6);
  color: white;
}
.type-steel{
  background-color: rgba(105,105,105,0.7);
  color: white;
}
.type-fire{
  background-color: rgba(255,49,0,0.8);
  color: white;
}
.type-water{
  background-color: rgba(0,140,255,0.8);
  color: white;
}
.type-grass{
  background-color: rgba(43,131,0,0.8);
  color: white;
}
.type-electric{
  background-color: rgba(255,203,0,0.8);
  color: white;
}
.type-psychic{
  background-color: rgba(255,0,247,0.8);
  color: white;
}
.type-ice{
  background-color: rgba(0,217,255,0.8);
  color: white;
}
.type-dragon{
  background: linear-gradient(0deg, rgba(160,92,177,1) 0%, rgba(255,95,113,1) 100%);
  color: white;
}
.type-dark{
  background-color: rgba(0,0,0,0.8);
  color: white;
}
.type-fairy{
  background-color: rgba(255,177,226,0.8);
  color: white;
}
.stats-container-info{
  position: relative;
  margin-top: 20px;
  padding-top: 10px;
}
.separator-stat{
  margin-bottom: 25px;
}
.title-section-stat{
  position: absolute;
  top: 0;
  left: -1px;
  padding: 5px 10px;
  background-color: white;
}
.stat-container-info{
  margin-bottom: 15px;
}
.name-number-stat-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.name-stat-info{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
}
.name-stat-info::after{
  content: ' :'
}
.progress-bar-container{
  width: 100%;
  height: 30px;
  background-color: #efefef;
}
.progress-stat{
  height: 100%;
  background: linear-gradient(90deg, #FCD676 -2.25%, #E6901E 133.18%);
}
.movement-container{
  width: min(800px, 100%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 #0C0C0C34;
  position: relative;
}
.separator-movement{
  margin-top: 13px;
  margin-bottom: 30px;
}
.movement-title{
  position: absolute;
  top: 12px;
  left: 19px;
  padding: 5px 10px;
  background-color: white;
}
.movement-tag-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px 20px;
}
.movement-tag{
  width: 100%;
  border-radius: 35px;
  height: 40px;
  font-size: 18px;
  background-color: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 650px){
  .go-to-list-pokemon{
    width: 60px;
    left: 60px;
  }
  .body-card-info{
    padding: 30px 60px 60px;
  }
  .preview-next-pokemon-info{
    width: 50px;
    font-size: 25px;
  }
  .id-general-info{
    font-size: 32px;
  }
  .name-pokemon-card-info{
    font-size: 32px;
    top: 87px;
  }
  .movement-container{
    padding: 40px 60px;
  }
  .separator-movement{
    margin-top: 17px;
    margin-bottom: 40px;
  }
  .movement-title{
    font-size: 32px;
    top: 32px;
    left: 60px;
  }
}
/* - Error 404 - */
.loader{
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-container{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error-sorry{
  font-size: 30px;
  letter-spacing: 4px;
  color: #DD1A1A;
  margin-bottom: 20px;
}
.list-error{
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;
}
.error-404{
  font-size: 100px;
}
.img-404{
  align-self: flex-end;
}
.not-found-container{
  display: flex;
  justify-content: space-around;
  width: min(100%, 500px);
}
.container-btn-notfound{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-pokemon-error{
  width: 50px;
}
.not-found {
  text-align: center;
  margin-bottom: 10px;
}